{% extends "AppHome/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<form method="post" action="" style="color:white">
    {% csrf_token %}
    <div style="width: 40%; margin: 10% auto">

        {% if messages %}
        {% for i in messages %}

        <span style="color:red;">{{i}}</span>

        {% endfor %}
        {% endif %}

        {{form|crispy}}

    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success">Iniciar sesi&oacute;n</button>

    </div>

</form>

{% endblock %}