{% extends "AppHome/base.html" %}

{% load static %}

{% block content %}

<p style="text-align: center;">
    <img class="img-fluid mb-3 mb-lg-0 rounded" src="/Media/Cursos/css.png" alt="">
</p>

<p style="color:black;">
    <p style="text-align:left "> Las siglas CSS (cascading style sheets), significan 
        'Hojas de estilo en cascada'. Estas parten de un concepto simple pero muy potente: aplicar
        estilos (colores, formas, margenes, etc.) a uno o varios documentos (generalmente HTML, 
        paginas web), de forma automatica y masiva.<p></p>

{% endblock %}