    {% extends "AppHome/base.html" %}

    {% load static %}

    {% block content %}
      
      <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <img class="img-fluid mb-3 mb-lg-0 rounded" src="static/AppHome/img/prog.avif" alt="">
          <p style="color:white"> Profesor: Juan Ter&aacute;n </p>
        </div>
      
          <div class="col-md-8">
            <h1 class="section-heading mb-4">
                <h1 style="color:white">Bienvenidos! ! !</h1>
                <h2 class="section-heading-lower" style="color:white">Curso de Django</h2>
              </h1>
            </div>
          </div>    
        </div>

    {% endblock %}
    